<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Wikis</h1>

      <% include ../static/partials/messages.ejs %>

      <% if (currentUser) { %>
        <a class="btn btn-primary" href="/wikis/new" role="button">Create New Wiki</a>
      <% } %>


      <ul class="list-group list-group-horizontal-md">
        <% if (wikis) { %>
          <% wikis.forEach((wiki) => { %>
            <% if (!wiki.private || (currentUser && (currentUser.id == wiki.userId || currentUser.isAdmin()))) { %>
              <li class="list-group-item list-group-item-action">
                <a href="/wikis/<%= wiki.id %>">
                  <h4><%= wiki.title %></h4>
                  <p class="wiki-body"><%= wiki.body %></p>
                </a>
                <% if (currentUser && ( currentUser.id == wiki.userId || currentUser.isAdmin())) { %>
                    <form action="/wikis/<%= wiki.id %>/delete" method="post" class="mod-buttons">
                      <button type="submit" class="wiki-btn button-delete">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>

                    <form action="/wikis/<%= wiki.id %>/edit" method="get" class="mod-buttons">
                      <button type="submit" class="wiki-btn button-edit">
                        <i class="fas fa-edit"></i>
                      </button>
                    </form>
                <% } %>
              </li>
            <% } %>
          <% }) %>
        <% } %>
      </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
